# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Environment
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Uploads
uploads/*

# Reports
reports/*

# Cache
.ipynb_checkpoints/

# Logs
*.log


dataset/raw/
dataset/cleaned/
dataset/merged/

model/bert_encoder.pkl
model/bert_classifier.pkl
